<nav class="navbar navbar-admin">
    <div class="navbar-container">
        <div class="navbar-brand">
            <a href="{{ path('admin_dashboard') }}">
                <h1>Harmonie & Sens</h1>
                <span class="admin-badge">Admin</span>
            </a>
        </div>

        <ul class="navbar-menu">
            <li class="navbar-item">
                <a href="{{ path('app_home') }}" class="navbar-link" target="_blank">
                    <i class="fas fa-globe"></i> Voir le site
                </a>
            </li>
            
            <li class="navbar-item">
                <span class="navbar-link">
                    <i class="fas fa-user"></i> {{ app.user.firstName }} {{ app.user.lastName }}
                </span>
            </li>

            <li class="navbar-item">
                <a href="{{ path('app_logout') }}" class="navbar-link navbar-logout">
                    <i class="fas fa-sign-out-alt"></i> Déconnexion
                </a>
            </li>
        </ul>
    </div>
</nav>
